{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "importSource": "preact"
      }
    }
  },
  "module": {
    "type": "es6",
    "strictMode": true,
    "strict": true
  }
}
