@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-red-500 {
  background-color: theme('colors.lime.600');
}
.w-full {
  width: 100%;
  min-width: 100vw;
}
.h-full {
  height: 100%;
  min-height: 100vh;
}
.absolute {
  position: absolute;
}
.wow {
  background-color: theme('colors.cyan.600');
}

// Add custom styles or overrides here if necessary
